# Import Libraries

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\kumar\Downloads\ML-Projects\Datasets\sample_dataset.csv")

# Identify Categorical & Numerical Features

In [3]:
categorical = df.select_dtypes(include=["object", "category", "bool"])
numerical = df.select_dtypes(exclude=["object", "category", "bool"])

# Data Cleaning for Numerical Variables

#### Simple Imputer

In [9]:
from sklearn.impute import SimpleImputer

In [13]:
cleaner = SimpleImputer(strategy="mean")
# We can use mean,median, mode as strategy to Fill Blank values with that particular value of column

In [14]:
print(cleaner.fit_transform(numerical))

[[1.40595477e+01 1.03800000e+01 1.22800000e+02 ... 4.60100000e-01
  1.18900000e-01 0.00000000e+00]
 [2.05700000e+01 1.77700000e+01 1.32900000e+02 ... 2.75000000e-01
  8.43631702e-02 0.00000000e+00]
 [1.96900000e+01 2.12500000e+01 1.30000000e+02 ... 3.61300000e-01
  8.75800000e-02 0.00000000e+00]
 ...
 [1.66000000e+01 2.80800000e+01 1.08300000e+02 ... 2.21800000e-01
  7.82000000e-02 0.00000000e+00]
 [2.06000000e+01 2.93300000e+01 1.40100000e+02 ... 4.08700000e-01
  1.24000000e-01 0.00000000e+00]
 [7.76000000e+00 1.93118293e+01 4.79200000e+01 ... 2.87100000e-01
  7.03900000e-02 1.00000000e+00]]

# Data Cleaning for Categorical Features

#### Mosty Frequent Data

In [15]:
cleaner = SimpleImputer(strategy="most_frequent")

In [19]:
pd.DataFrame(cleaner.fit_transform(categorical)).value_counts()

0
A    564
B      4
C      1
Name: count, dtype: int64

#### New Value into Blank

In [23]:
# This Functionality works for both Numerical as well as Categorical Features

In [24]:
#Categorical Features
cleaner = SimpleImputer(strategy="constant", fill_value="undefined")
pd.DataFrame(cleaner.fit_transform(categorical)).value_counts()

0
A            489
undefined     75
B              4
C              1
Name: count, dtype: int64

In [27]:
#Numerical Features
cleaner = SimpleImputer(strategy="constant", fill_value=0)
pd.DataFrame(cleaner.fit_transform(numerical)).describe()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,11.909845,16.698453,82.980703,468.530053,0.065568,0.088181,0.072572,0.032974,0.150161,0.055472,...,18.625677,86.763638,804.329350,0.109446,0.213882,0.238741,0.101418,0.210258,0.069685,0.627417
std,6.002666,7.749625,35.685316,424.990186,0.047081,0.061993,0.083146,0.039049,0.073018,0.021029,...,12.567502,52.147137,618.429622,0.054996,0.174935,0.214909,0.073334,0.142626,0.036234,0.483918
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.490000,14.740000,71.490000,0.000000,0.000000,0.050730,0.001487,0.000000,0.148700,0.056280,...,0.000000,69.860000,455.700000,0.102100,0.093580,0.071610,0.048150,0.000000,0.065890,0.000000
50%,12.720000,18.140000,84.070000,449.300000,0.086770,0.080610,0.042090,0.020700,0.172000,0.060660,...,21.960000,89.040000,628.500000,0.126300,0.185400,0.185600,0.087040,0.257200,0.076760,1.000000
75%,15.060000,21.460000,102.400000,664.700000,0.101500,0.123000,0.111500,0.053970,0.193400,0.065400,...,27.680000,114.200000,993.600000,0.143200,0.306400,0.366000,0.156100,0.303800,0.088390,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.290600,0.097440,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,1.000000

# Cleaning Data with KNN Blank Filling

In [28]:
from sklearn.impute import KNNImputer

#### Without Weight

In [30]:
cleaner = KNNImputer(n_neighbors=5)
pd.DataFrame(cleaner.fit_transform(numerical)).describe()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.00000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.019588,19.289276,91.566678,639.997926,0.096604,0.103680,0.088737,0.047341,0.181407,0.06259,...,25.500373,105.551227,878.034446,0.133747,0.254424,0.266494,0.114627,0.288545,0.084273,0.627417
std,3.372633,4.079819,23.261553,321.123294,0.012599,0.049889,0.076259,0.034051,0.025618,0.00684,...,5.514207,31.814476,567.171199,0.021728,0.149508,0.200573,0.064370,0.057876,0.017185,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.04996,...,12.490000,54.490000,185.200000,0.071170,0.034320,0.000000,0.000000,0.156600,0.055040,0.000000
25%,11.710000,16.520000,75.270000,432.000000,0.087940,0.067970,0.033732,0.023310,0.165000,0.05780,...,21.780000,83.900000,514.000000,0.119610,0.155000,0.121100,0.065600,0.255400,0.073510,0.000000
50%,13.340000,18.940000,86.192000,551.860000,0.096344,0.094620,0.063350,0.033278,0.179300,0.06132,...,25.050000,97.464000,684.600000,0.134000,0.216400,0.214560,0.097830,0.279460,0.080886,1.000000
75%,15.750000,21.480000,103.700000,761.300000,0.103900,0.128000,0.124200,0.067590,0.195300,0.06576,...,28.668000,120.300000,1050.000000,0.147100,0.333580,0.378600,0.162500,0.310900,0.091024,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.290600,0.09744,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,1.000000

#### With Weight

In [31]:
cleaner = KNNImputer(n_neighbors=5, weights="distance")
pd.DataFrame(cleaner.fit_transform(numerical)).describe()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.011745,19.301887,91.527132,639.356966,0.096604,0.103896,0.088470,0.047526,0.181566,0.062600,...,25.490294,105.536440,877.565889,0.133727,0.254375,0.266527,0.114529,0.288616,0.084325,0.627417
std,3.372777,4.110971,23.268459,320.949790,0.012815,0.049815,0.076331,0.034094,0.025628,0.006858,...,5.520173,31.934985,567.325610,0.021805,0.149540,0.200249,0.064456,0.057812,0.017219,0.483918
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,12.490000,54.490000,185.200000,0.071170,0.034320,0.000000,0.000000,0.156600,0.055040,0.000000
25%,11.710000,16.540000,75.276516,429.568166,0.087590,0.067790,0.033670,0.023150,0.165453,0.057690,...,21.770000,83.740000,513.900000,0.119400,0.155000,0.120600,0.065750,0.256523,0.073430,0.000000
50%,13.300000,18.890000,86.240000,551.100000,0.096870,0.096219,0.061550,0.034850,0.179624,0.061330,...,25.050000,97.330000,684.600000,0.133843,0.217000,0.221764,0.098040,0.280600,0.081130,1.000000
75%,15.710000,21.540000,103.600000,766.600000,0.103900,0.127900,0.122956,0.068470,0.195300,0.065791,...,28.650000,121.200000,1050.000000,0.147500,0.334500,0.375500,0.161400,0.310000,0.091580,1.000000
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.290600,0.097440,...,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500,1.000000

# ColumnTransformers

In [33]:
numerical_columns = numerical.columns
categorical_columns = categorical.columns
from sklearn.compose import ColumnTransformer

In [35]:

cleaner = ColumnTransformer([('numerical features', SimpleImputer(strategy="mean"), numerical_columns), ('categorical features', SimpleImputer(strategy="most_frequent"), categorical_columns)])

In [39]:
pd.DataFrame(cleaner.fit_transform(df)).describe()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.0,569
unique,396.000000,420.000000,473.000000,384.000000,337.000000,460.000000,418.000000,369.000000,375.000000,446.000000,...,426.000000,492.000000,358.000000,445.000000,484.000000,435.000000,375.000000,448.000000,2.0,3
top,14.059548,19.311829,92.039025,661.522581,0.097156,0.104531,0.094063,0.049115,0.181405,0.062626,...,107.322848,893.873828,0.133065,0.256748,0.267936,0.116579,0.291797,0.084363,1.0,A
freq,87.000000,77.000000,56.000000,166.000000,185.000000,89.000000,130.000000,187.000000,98.000000,65.000000,...,109.000000,57.000000,101.000000,95.000000,62.000000,74.000000,159.000000,99.000000,357.0,564

#### Select Coumn using Column Selector

In [40]:
from sklearn.compose import make_column_selector

In [41]:
cleaner =  ColumnTransformer([('numerical features', SimpleImputer(strategy="mean"), make_column_selector(dtype_exclude="object")), ('categorical features', SimpleImputer(strategy="most_frequent"), 
                                                                                                          make_column_selector(dtype_include="object"))])

In [42]:
pd.DataFrame(cleaner.fit_transform(df)).describe()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.0,569
unique,396.000000,420.000000,473.000000,384.000000,337.000000,460.000000,418.000000,369.000000,375.000000,446.000000,...,426.000000,492.000000,358.000000,445.000000,484.000000,435.000000,375.000000,448.000000,2.0,3
top,14.059548,19.311829,92.039025,661.522581,0.097156,0.104531,0.094063,0.049115,0.181405,0.062626,...,107.322848,893.873828,0.133065,0.256748,0.267936,0.116579,0.291797,0.084363,1.0,A
freq,87.000000,77.000000,56.000000,166.000000,185.000000,89.000000,130.000000,187.000000,98.000000,65.000000,...,109.000000,57.000000,101.000000,95.000000,62.000000,74.000000,159.000000,99.000000,357.0,564