# Exercise 1

* Load **sample_dataset.csv**
* Consider only the first 3 columns and remove all the records that have missings
* Calculate the mean value of "mean radius"
* Use a ColumnTransformer to apply the following transformations:
    * Binarize "mean radius" using a threshold equal to the mean value
    * Binning of "mean texture" with 10 uniform bins and one-hot encoded dense output
    * Binning of "mean perimeter" with 5 quantile bins and ordinal encoding output

In [2]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.preprocessing import Binarizer, KBinsDiscretizer

In [4]:
df = pd.read_csv(r"C:\Users\kumar\Downloads\ML-Projects\Datasets\sample_dataset.csv").iloc[:,:3].dropna()
df

     mean radius  mean texture  mean perimeter
1          20.57         17.77          132.90
2          19.69         21.25          130.00
3          11.42         20.38           77.58
5          12.45         15.70           82.57
7          13.71         20.83           90.20
..           ...           ...             ...
562        15.22         30.62          103.40
563        20.92         25.09          143.00
564        21.56         22.39          142.00
566        16.60         28.08          108.30
567        20.60         29.33          140.10

[385 rows x 3 columns]

In [6]:
m = df["mean radius"].mean()

In [11]:
transformer = ColumnTransformer([('mean_radius_transform', Binarizer(threshold=m), ["mean radius"]),
                                ('mean_texture_transform', KBinsDiscretizer(strategy="uniform", n_bins=10, encode="onehot-dense"), ["mean texture"]),
                                ('mean_parameter_transform', KBinsDiscretizer(strategy="quantile", n_bins=5, encode="ordinal"), ["mean perimeter"])])
transformer.fit_transform(df)

array([[1., 0., 0., ..., 0., 0., 4.],
       [1., 0., 0., ..., 0., 0., 4.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 4.],
       [1., 0., 0., ..., 0., 0., 3.],
       [1., 0., 0., ..., 0., 0., 4.]])

# Exercise 2

* Load **sample_dataset.csv**
* Consider only the first 3 columns and remove all the records that have missings
* Use a ColumnTransformer to apply the following transformations:
    * Yeo-Johnson power transform of "mean radius"
    * Box-Cox transformation of "mean texture"
    * Calculate the logarithm of "mean perimeter"

In [12]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.preprocessing import PowerTransformer, FunctionTransformer

In [13]:
df = pd.read_csv(r"C:\Users\kumar\Downloads\ML-Projects\Datasets\sample_dataset.csv").iloc[:,:3].dropna()
df

     mean radius  mean texture  mean perimeter
1          20.57         17.77          132.90
2          19.69         21.25          130.00
3          11.42         20.38           77.58
5          12.45         15.70           82.57
7          13.71         20.83           90.20
..           ...           ...             ...
562        15.22         30.62          103.40
563        20.92         25.09          143.00
564        21.56         22.39          142.00
566        16.60         28.08          108.30
567        20.60         29.33          140.10

[385 rows x 3 columns]

In [14]:
transformer = ColumnTransformer([('mean_radius_transform', PowerTransformer(), ["mean radius"]),
                                ('mean_texture_transform', PowerTransformer('box-cox'), ["mean texture"]),
                                ('mean_parameter_transform', FunctionTransformer(np.log, validate=True), ["mean perimeter"])])
transformer.fit_transform(df)

array([[ 1.63387527, -0.25875217,  4.88959697],
       [ 1.48019619,  0.54975194,  4.86753445],
       [-0.76778428,  0.36164666,  4.35130966],
       ...,
       [ 1.79501356,  0.78415652,  4.95582706],
       [ 0.84387904,  1.79038802,  4.68490515],
       [ 1.63893431,  1.98216691,  4.94235645]])